:root {
  --color-black: rgb(62, 66, 65);
  --color-blue: rgb(186, 221, 217);
  --color-orange: rgb(254, 204, 0);
  --color-grey: #e8e8e8;
}

.preload * {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Rubik;
  color: var(--color-black);
  background-color: var(--color-grey);
}

.alert {
  position: fixed;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.button {
  cursor: pointer;
  background: none;
  fill: rgba(62, 66, 65, 0.459);
  transition: 0.3s;
  padding: 0 0 0 10px;
  transition: 0.3s;
}

.button:active {
  transform: scale(0.7);
}

.card__like-btn--checked {
  fill: red;
}

.card__like-img {
  height: 40px;
  width: 34px;
}

.card__cart-btn--checked {
  fill: green;
}

.card__cart-img {
  width: 34px;
  height: 33px;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header__wrapper {
  position: relative;
  height: 490px;
  background-image: url("./assets/img/header-img.jpg");
  display: flex;
  justify-content: end;
  padding-right: 30px;
}

.header__cart-wrapper {
  position: relative;
}

.header__cart-img {
  width: 60px;
  height: 60px;
  fill: white;
}

.header__cart-counter {
  /* content: ""; */
  color: var(--color-black);
  display: inline-block;
  background-color: var(--color-orange);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 40px;
  padding: 5px 10px;
  text-align: center;
}

.void-msg {
  align-self: center;
  justify-self: center;
  grid-column: span 2;
}

.main__wrapper {
  padding: 0 30px;
}

.main__container {
  position: relative;
  top: -300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding-top: 30px;
}

.options {
  width: 100%;
  max-width: 700px;
  /* height: 500px; */
  margin: 0 auto;
  top: -300px;
  position: relative;
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.options__img {
  height: 20px;
  width: 20px;
  fill: red;
}

.sort {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
  box-shadow: 0 0 1px var(--color-black);
}


.sort::after {
  content: "Sort";
  display: block;
  width: 40px;
  height: 1rem;
  background-color: white;
  font-size: 0.8rem;
  position: absolute;
  top: -8px;
  left: 20px;
  text-align: center;
}

.sort__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-filter {
  padding: 20px 0;
  box-shadow: 0 0 1px var(--color-black);
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.color-filter::after {
  content: "Coose colors";
  display: block;
  width: 100px;
  height: 1rem;
  background-color: white;
  font-size: 0.8rem;
  position: absolute;
  top: -8px;
  left: 20px;
  text-align: center;
}

.color-filter__color-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: 0.3s;
  border: transparent 1px solid;
}

.color-filter__color-wrapper span {
  height: 15px;
  width: 15px;
  pointer-events: none;
}

.color-filter__red {
  background-color: red;
}

.color-filter__yellow {
  background-color: yellow;
}

.color-filter__orange {
  background-color: orange;
}

.color-filter__blue {
  background-color: blue;
}

.color-filter__black {
  background-color: black;
}

.color-filter__brown {
  background-color: rgb(112, 18, 18);
}

.color-filter__green {
  background-color: green;
}

.name-filter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-filter__input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-grey);
  border-radius: 10px;
  outline: none;
}

.name-filter__input:focus {
  border: 1px solid var(--color-black);
  color: var(--color-black);
}

.produced-filter {
  padding: 20px 0;
  box-shadow: 0 0 1px var(--color-black);
  position: relative;
  width: 100%;
  display: flex;
  column-gap: 20px;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.produced-filter::after {
  content: "Choose producer";
  display: block;
  width: 120px;
  height: 1rem;
  background-color: white;
  font-size: 0.8rem;
  position: absolute;
  top: -8px;
  left: 20px;
  text-align: center;
}

.produced-filter__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
  border: transparent 1px solid;
}

.produced-filter__wrapper span {
  pointer-events: none;
}

.other-filter {
  padding: 20px 0;
  box-shadow: 0 0 1px var(--color-black);
  position: relative;
  width: 100%;
  display: flex;
  row-gap: 20px;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.other-filter::after {
  content: "Other filters";
  display: block;
  width: 120px;
  height: 1rem;
  background-color: white;
  font-size: 0.8rem;
  position: absolute;
  top: -8px;
  left: 20px;
  text-align: center;
}

.other-filter__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
  border: transparent 1px solid;
}

.other-filter__wrapper span {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.other-filter__wrapper--checked,
.produced-filter__wrapper--checked,
.color-filter__color-wrapper--checked {
  border: var(--color-orange) 1px solid;
}

.range-filters {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 30px 20px;
  box-shadow: 0 0 1px var(--color-black);
  position: relative;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 40px;
}

.range-filter {
  width: 40%;
  min-width: 252px;
}

.range-filters::before {
  content: "Price";
  display: block;
  width: 100px;
  height: 1rem;
  background-color: white;
  font-size: 0.8rem;
  position: absolute;
  top: -8px;
  left: 40px;
  text-align: center;
}

.range-filters::after {
  content: "Quantity";
  display: block;
  width: 100px;
  height: 1rem;
  background-color: white;
  font-size: 0.8rem;
  position: absolute;
  top: -8px;
  right: 40px;
  text-align: center;
}

.reset {
  width: 100%;
}

.reset-btn {
  width: 100%;
  height: 50px;
  background-color: var(--color-orange);
  color: var(--color-grey);
  font-family: inherit;
  transition: 0.3s;
}

.reset-btn:active {
  transform: scale(0.99);
}

.clean-ls-btn {
  color: var(--color-grey);
  transition: 0.3s;
}

.clean-ls-btn:active {
  transform: scale(0.99);
  color: var(--color-black);
}

.card {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.сard__obverse {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  gap: 20px;
  animation: appeare .3s ease-in-out forwards;
  background-color: white;
  flex-wrap: wrap;
}

.сard__obverse--close {

  animation: disappeare .3s ease-in-out forwards;
}

.сard__reverse {
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 20px;
  justify-content: center;
  animation: disappeare .3s ease-in-out forwards;
  background-color: white;
}

.card__reverse--open {
  animation: appeare .3s ease-in-out forwards;
}

@keyframes disappeare {
  0% {
    visibility: visible;
    transform: rotateX(0deg);
  }

  50% {
    visibility: visible;
    transform: rotateX(90deg);
  }

  51% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}

@keyframes appeare {
  0% {
    visibility: hidden;
  }

  50% {
    visibility: hidden;
  }

  51% {
    visibility: visible;
    transform: rotateX(90deg);
  }

  100% {
    visibility: visible;
    transform: rotateX(0deg);
  }
}

.card__description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.card__img {
  height: 80px;
  width: 80px;
  background-repeat: no-repeat;
  background-color: transparent;
  gap: 20px;
}

.card__title {
  font-size: 20px;
  font-weight: bold;
  font-family: Rubik;
  align-self: center;
  color: var(--color-orange);
}

.material-symbols-outlined {
  font-family: "Material Icons";
  text-align: center;
  padding: 0;
  color: green;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.rslogo {
  width: 30px;
  height: 30px;
}

.link {
  fill: var(--color-black);
  text-decoration: none;
  color: var(--color-black);
  transition: 0.3s;
}

.link:hover {
  fill: var(--color-orange);
  color: var(--color-orange);
}

@media(max-width: 940px) {
  .main__container {
    grid-template-columns: repeat(1, 1fr);
  }
}


@media(max-width: 550px) {
  .range-filters {
    padding: 30px 5px;
  }

  .range-filters::after {
    top: auto;
    bottom: -8px;
  }

  .range-filter {
    width: 40%;
    min-width: 120px;
    margin-left: -15px;
  }
}


@media(min-width: 1024px) {
  .button:hover {
    fill: var(--color-orange);
    color: var(--color-orange);
  }

  .reset-btn:hover {
    color: var(--color-black);
  }

  .other-filter__wrapper:hover,
  .produced-filter__wrapper:hover,
  .color-filter__color-wrapper:hover {
    border: var(--color-orange) 1px solid;
  }
}