:root {
  --color-black: rgb(62, 66, 65);
  --color-blue: rgb(186, 221, 217);
  --color-orange: rgb(254, 204, 0);
  --color-grey: #e8e8e8;
}

.material-symbols-outlined {
  font-family: "Material Icons";
  text-align: center;
  color: green;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Rubik;
  color: var(--color-black);
  background-color: var(--color-grey);
}

.button {
  cursor: pointer;
  background: none;
  fill: rgba(62, 66, 65, 0.459);
  transition: 0.3s;
}

.button:hover {
  fill: var(--color-orange);
  color: var(--color-orange);
}

.card__like-btn--checked {
  fill: red;
}

.card__like-img {
  height: 40px;
  width: 34px;
}

.card__cart-btn--checked {
  fill: green;
}

.card__cart-img {
  width: 34px;
  height: 33px;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header__wrapper {
  height: 490px;
  background-image: url("./assets/img/header-img.jpg");
  display: flex;
  justify-content: end;
  padding-right: 30px;
}

.header__cart-wrapper {
  position: relative;
}

.header__cart-img {
  width: 60px;
  height: 60px;
  fill: white;
}

.header__cart-counter {
  /* content: ""; */
  color: var(--color-black);
  display: inline-block;
  background-color: var(--color-orange);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 40px;
  padding: 5px 10px;
  text-align: center;
}

.void-msg {
  align-self: center;
  justify-self: center;
  grid-column: span 2;
}

.main__wrapper {
  padding: 0 30px;
}

.main__container {
  position: relative;
  top: -300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding-top: 30px;
}

.options {
  width: 100%;
  max-width: 700px;
  height: 500px;
  margin: 0 auto;
  top: -300px;
  position: relative;
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.sort {
  display: flex;
  flex-direction: column;
}

.sort__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-filter {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.color-filter__color-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: 0.3s;
  border: transparent 1px solid;
}

.color-filter__color-wrapper:hover,
.color-filter__color-wrapper--checked {
  border: var(--color-orange) 1px solid;
}

.color-filter__color-wrapper span {
  height: 15px;
  width: 15px;
  pointer-events: none;
}

.color-filter__red {
  background-color: red;
}

.color-filter__yellow {
  background-color: yellow;
}

.color-filter__orange {
  background-color: orange;
}

.color-filter__blue {
  background-color: blue;
}

.color-filter__black {
  background-color: black;
}

.color-filter__brown {
  background-color: rgb(112, 18, 18);
}

.color-filter__green {
  background-color: green;
}

.name-filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-filter__input {
  width: 70%;
  padding: 10px;
  border: 1px solid var(--color-grey);
  border-radius: 10px;
  outline: none;
}

.name-filter__input:focus {
  border: 1px solid var(--color-black);
  color: var(--color-black);
}

.card {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.сard__obverse {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  gap: 20px;
  animation: appeare .3s ease-in-out forwards;
  background-color: white;
}

.сard__obverse--close {
  animation: disappeare .3s ease-in-out forwards;
}

.сard__reverse {
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 20px;
  justify-content: center;
  animation: disappeare .3s ease-in-out forwards;
  background-color: white;
}

.card__reverse--open {
  animation: appeare .3s ease-in-out forwards;
}

@keyframes disappeare {
  0% {
    visibility: visible;
    transform: rotateX(0deg);
  }

  50% {
    visibility: visible;
    transform: rotateX(90deg);
  }

  51% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}

@keyframes appeare {
  0% {
    visibility: hidden;
  }

  50% {
    visibility: hidden;
  }

  51% {
    visibility: visible;
    transform: rotateX(90deg);
  }

  100% {
    visibility: visible;
    transform: rotateX(0deg);
  }
}

.card__description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.card__img {
  height: 80px;
  width: 80px;
  background-repeat: no-repeat;
  background-color: transparent;
  gap: 20px;
}

.card__title {
  font-size: 20px;
  font-weight: bold;
  font-family: Rubik;
  align-self: center;
  color: var(--color-orange);
}

@media(max-width: 900px) {
  .main__container {
    grid-template-columns: repeat(1, 1fr);
  }
}