body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__search {
    height: 25px;
    border-radius: 5px;
    border: solid 1px #30c5ff;
    padding: 7px;
    position: relative;
    z-index: 15;
    outline: none;
}

.header__search:focus {
    border: solid 2px #30c5ff;
}



.header--open::before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

.header__burger{
    position: absolute;
    right: 30px;
    top: 59.17px;
    width: 45px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9.33px;
    z-index: 10;
    transition: 0.7s;
}

.header__burger span {
    display: block;
    width: 100%;
    height: 3px;
    background: white;
    position: relative;
    transition: 0.3s;
}

main {
    min-height: calc(100vh - 230px);
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

.rslogo {
    width: 30px;
    height: 30px;
}

.link {
    fill: #444444;
    text-decoration: none;
    color: #444444;
    transition: 0.3s;
}

.link:hover {
    fill: #555555;
    color: #555555;
}

@media(max-width: 768px) {
    .header__burger{
        display: flex;
    }

    .header__search {
        position: fixed;
        right: -150vw;
        transition: 0.3s;
    }

    .header__burger--open {
        transform: rotate(-450deg);
    }

    .header__burger--open ~ .header__search {
        right: 95px;
    }

    .block {
        overflow: hidden;
    }
}

@media(max-width: 420px) {
    header {
        padding: 10px 15px;
    }

    header h1{
        font-size: 28px;
    }

    .header__burger{
        top: 42.92px;
    }
    footer {
        padding: 0 10px;
    }
}